{% extends 'base.html.twig' %}

{% block title %}Modifier l'Équipe
{% endblock %}

{% block body %}
	<h1>Modifier l'Équipe</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-primary">{{ button_label|default('Mettre à jour') }}</button>
	{{ form_end(form) }}

	<a href="{{ path('app_teams_index') }}" class="btn btn-secondary">Retour à la liste</a>

	{{ include('teams/_delete_form.html.twig') }}
{% endblock %}
