{% extends 'base.html.twig' %}

{% block title %}Liste des Missions
{% endblock %}

{% block body %}
	<h1>Liste des Missions</h1>

	{% if missions is defined and missions|length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Statut</th>
					<th>Niveau de danger</th>
					<th>Lieu</th>
					<th>Date de début</th>
					<th>Date de fin</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for mission in missions %}
					<tr>
						<td>{{ mission.id }}</td>
						<td>{{ mission.title }}</td>
						<td>{{ mission.status }}</td>
						<td>{{ mission.dangerLevel }}</td>
						<td>{{ mission.location }}</td>
						<td>{{ mission.startAt ? mission.startAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ mission.endAt ? mission.endAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_missions_show', {'id': mission.id}) }}" class="btn btn-sm btn-info">Voir</a>
							<a href="{{ path('app_missions_edit', {'id': mission.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-info" role="alert">
			Aucune mission n'est actuellement disponible. Créez une nouvelle mission pour commencer !
		</div>
	{% endif %}

	<a href="{{ path('app_missions_new') }}" class="btn btn-success">Créer une nouvelle mission</a>
{% endblock %}
