{% extends 'base.html.twig' %}

{% block title %}Nos Missions - Super Légumes
{% endblock %}

{% block body %}
	<h1>Nos Missions</h1>

	{% if missions is defined and missions|length > 0 %}
		<div class="row">
			{% for mission in missions %}
				<div class="col-md-6 mb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ mission.title }}</h5>
							<p class="card-text">Statut:
								{{ mission.status }}</p>
							<p class="card-text">Niveau de danger:
								{{ mission.dangerLevel }}</p>
							<p class="card-text">Lieu:
								{{ mission.location }}</p>
							<p class="card-text">Début:
								{{ mission.startAt|date('d/m/Y H:i') }}</p>
							<p class="card-text">Fin:
								{{ mission.endAt|date('d/m/Y H:i') }}</p>
							<a href="{{ path('app_mission_show', {'id': mission.id}) }}" class="btn btn-primary">Voir détails</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="alert alert-info" role="alert">
			Aucune mission n'est actuellement disponible. Revenez plus tard pour voir les nouvelles missions !
		</div>
	{% endif %}
{% endblock %}
