{% extends 'base.html.twig' %}

{% block title %}Liste des Super-Héros
{% endblock %}

{% block body %}
	<h1>Liste des Super-Héros</h1>

	<div class="mb-3">
		<form method="get" action="{{ path('app_heros_index') }}">
			<div class="row">
				<div class="col-md-3">
					<label for="availability">Disponibilité</label>
					<select name="availability" id="availability" class="form-control">
						<option value="">Tous</option>
						<option value="1" {% if app.request.query.get('availability') == '1' %} selected {% endif %}>Disponible</option>
						<option value="0" {% if app.request.query.get('availability') == '0' %} selected {% endif %}>Non disponible</option>
					</select>
				</div>
				<div class="col-md-3">
					<label for="energyLevel">Niveau d'énergie minimum</label>
					<input type="number" name="energyLevel" id="energyLevel" class="form-control" value="{{ app.request.query.get('energyLevel') }}">
				</div>
				<div class="col-md-3 align-self-end">
					<button type="submit" class="btn btn-primary">Filtrer</button>
				</div>
			</div>
		</form>
	</div>

	{% if heroes is defined and heroes|length > 0 %}
		<div class="row">
			{% for hero in heroes %}
				<div class="col-md-4 mb-4">
					<div class="card">
						{% if hero.imageName %}
							<img src="{{ asset('uploads/heroes/' ~ hero.imageName) }}" class="card-img-top" alt="{{ hero.name }}">
						{% else %}
							<img src="{{ asset('images/default-hero.jpg') }}" class="card-img-top" alt="Default Hero Image">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">{{ hero.name }}</h5>
							<p class="card-text">{{ hero.alterEgo }}</p>
							<p class="card-text">Niveau d'énergie:
								{{ hero.energyLevel }}</p>
							<p class="card-text">{{ hero.isAvailable ? 'Disponible' : 'Non disponible' }}</p>
							<a href="{{ path('app_heros_show', {'id': hero.id}) }}" class="btn btn-primary">Voir détails</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="alert alert-info" role="alert">
			Aucun héros trouvé.
		</div>
	{% endif %}

	<a href="{{ path('app_heros_new') }}" class="btn btn-success">Créer un nouveau héros</a>
{% endblock %}
